body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.item-list-row:nth-child(even) {
  background: #f8f8f8;
}

.item-list-row-selectable {
  transition: all 0.05s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  z-index: 0;
  position: relative;
}

.item-list-row-selectable:hover {
  background: #28f;
}

.item-list-row-selectable.item-list-row-selected {
  background: #28f;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.contact-name {
  font-size: 2em;
  font-weight: bold;
}

.contact-section-label {
  padding-bottom: 0.25em;
  border-bottom: solid 1px #ccc;
}

.contact-type {
  font-style: italic;
  color: #555;
}

.contact-image,
.contacts-list-image {
  border: solid 1px #ccc;
}

.overlay {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 4px;
}

.app-main .sidebar {
  transition: all 1s;
}

.app-main .contact-detail {
  transition: all 1s;
  border-left: solid 1px #bbb;
}

button.button {
  padding: 0.5em;
  font-size: inherit;
  border: 0;
  outline: 0;
  background: #28f;
  border-radius: 0.2em;
  color: white;
  cursor: pointer;
}

.settings-sources-list {
  border: solid 1px #ccc;
}

.settings-sources-source {
  background: #eee;
}

.settings-sources-source-name {
  /* color: #555; */
  font-size: 0.8em;
}

button.button.button-delete {
  background: #f22;
}

.search-bar {
  background: #ccc;
}

.search-bar-inner {
  top: 6px;
  right: 6px;
  left: 6px;
  bottom: 6px;

}

.search-bar-field {
  border-radius: 15px;
  border: #bbb solid 1px;
  padding: 0 1em;
}

.search-bar-field:focus {
  border-color: #28f;
  box-shadow: 0 0 5px #28f;
}

.contact-log.item-list {
  border: solid 1px #ccc;
}

.contact-log.item-list .contact-log-item-date {
  font-style: italic;
  color: #555;
  font-size: 0.75em;
}

.set-encryption-key-inner {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 4px;
}

.set-encryption-key-title {
  font-size: 3em;
  text-align: center;
}

.loader-wrapper {
  padding: 0.25em;
  background: white;
}
