body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  background: black;
  color: #2f2;
}

/* ::-webkit-scrollbar {
  width: 1em;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background-color: #222;
  width: 1em;
} */

.item-list-inner,
.contact-detail-inner {
  margin: 1em;
}

.item-list-inner {
  border-top: solid 1px #2f2;
}

.contact-detail-inner {
  padding: 1em;
  border: solid 1px #2f2;
}

.item-list-row {
  border: solid 1px #2f2;
  border-top: none;;
}

.item-list-row-selectable:hover,
.item-list-row-selectable.item-list-row-selected {
  background: #2f2;
  color: black;
}

.contact-name {
  font-size: 2em;
  font-weight: bold;
}

.contact-section-label {
  padding-bottom: 0.25em;
  border-bottom: solid 1px #aaa;
}

.contact-type {
  color: #aaa;
}

.contact-image,
.contacts-list-image {
  border: solid 1px #aaa;
}

.contact-detail {
  padding: 0;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
}

button.button {
  padding: 0.5em;
  font-size: inherit;
  border: 0;
  outline: 0;
  border: solid 1px #2f2;
  border-radius: 0.2em;
  cursor: pointer;
  background: none;
  color: white;
  font-family: inherit;
}

.settings-sources-list {
  border: solid 1px #2f2;
}

.settings-sources-source {
  border: solid 1px #2f2;
}

.settings-sources-source-name {
  font-size: 0.8em;
}

button.button.button-delete {
  border-color: #f22;
}

a {
  color: inherit;
}

.search-bar {
  background: black;
}

.search-bar-field {
  border: #2f2 solid 1px;
  padding: 0 1em;
  background: black;
  color: #2f2;
}
