* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.item-list-row-selectable {
  cursor: pointer;
  border: none;
  background: inherit;
  outline: none;
  display: block;
  font-size: inherit;
  text-align: left;
  margin: 0;
  color: inherit;
  font-family: inherit;
}

.app-main {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.app-main .sidebar {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}

.app-main .contact-detail {
  position: absolute;
  left: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translate(100%, 0);
}

.app-main.active-contact .sidebar {
  width: 350px;
}

.app-main.active-contact .contact-detail {
  transform: translate(0, 0);
}

.set-encryption-key {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-encryption-key-inner {
  max-width: 500px;
  width: 100%;
  position: absolute;
  padding: 1em;
}

.set-encryption-key-field {
  padding: 0.5em 0;
}

.set-encryption-key-field label {
  display: block;
  clear: both;
  padding: 0 0 0.25em 0;
}

.set-encryption-key-field-inner {
  display: flex;
  clear: both;
}

.set-encryption-key-field-inner input {
  flex-grow: 1;
}

.set-encryption-key-field-help {
  clear: both;
  font-size: 0.75em;
  margin-top: 0.25em;
}
